.navbar-nav > li
{
  padding-left: 20px;
  padding-right: 20px;
}

div.information
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body
{
    background-image: url("../img/background.jpg");
}

textarea, input
{
  width: 250px;
}

legend
{
  width: 30%;
}

input[type="radio"]
{
  width: auto;
}

/*
  For mobile screens
*/
@media only screen and (max-width: 479px)
{
  input, textarea
  {
    width: 180px;
  }
}

.intro a:link
{
  color: darkslategray !important;
}

.intro a:visited 
{
  color: darkslategray !important;
}

.intro
{
  padding-left: 50px;
  padding-right: 50px;
  color: black !important;
}

.sendEmailButton
{
  border-radius: 10%;
  border-color: slategray;
}

.contactLabel
{
  font-size: 98%;
}

#skillContainer
{
  font-size: 35px;
}

#contactList
{
  float: left;
}

#footerUL
{
  list-style-type: none;
  font-size: 16px;
}

#footerDiv a:link
{
  color: darkslategray !important;
}

#contactFooterDiv
{
  float: right;
  padding-right: 3%;
  transform: scale(0.95);
}

#sendMeAMessage
{
  font-size: 17px;
  font-weight: bold;
}

#leftHalfOfContactForm
{
  float: left;
  width: 45%;
}

#rightHalfOfContactForm
{
  float: right;
  width: 45%;
}
